/* ===== HERO SECTION ===== */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 80px;
  background: linear-gradient(135deg, #f6f3f9, #f8edff);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 60px;
}

/* LEFT */
.hero-content {
  max-width: 600px;
}

/* Badge */
.hero-badge {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 999px;
  background-color: #e2def2;
  color: #5b21b6;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 24px;
}

/* Heading */
.hero h1 {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 700;
  color: #111827;
  margin-bottom: 24px;
}

.hero h1 span {
  color: #6d28d9;
}

/* Description */
.hero p {
  font-size: 18px;
  line-height: 1.6;
  color: #4b5563;
  margin-bottom: 36px;
}

/* Button */
.hero button {
  padding: 14px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #6d28d9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero button:hover {
  background-color: #5b21b6;
  transform: translateY(-2px);
}

/* RIGHT IMAGE */
.hero-visual img {
  width: 100%;
  max-width: 620px;
  height: auto;
  margin-right: 10px;
  object-fit: contain;
}
.btn-primary {
  padding: 11px 22px;
  font-size: 14px;
  font-weight: 600;

  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: #ffffff;

  border: none;
  border-radius: 12px;
  cursor: pointer;

  box-shadow: 0 10px 24px rgba(99, 102, 241, 0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 16px 32px rgba(99, 102, 241, 0.45);
}
.btn-login,
.btn-primary {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}